@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@keyframes example {
    0%   {background-color:black; }
    11.1% {background-color:#191919}
    22.2%  {background-color:#333333;}
    33.3%{background-color:#4d4d4d}
    44.4%  {background-color:#666666;}
    55.5 %{background-color:#4d4d4d}
    66.6%  {background-color:#333333;}
    87.5%{background-color:#191919}
    100%   {background-color:black; }
}

root{
    font-size: 16px;
}
html{
    font-family:"Montserrat";
    color :papayawhip;
    border-color: floralwhite;
    background-color: #171c1b;
}
body{
    display: flex;
    direction: ltr;
}
main{
    display: flex;
    direction: ltr;
    height: 100%;
    position: relative;
    width: 95%;
}

.basic{
    display: block;
    position: absolute;
    justify-content: center;

    width: 70%;
    height: 750px;
    /*border-color: navajowhite;*/

}
.bakiajjebwalakaam{
    height: 90%;
    background-color:  rebeccapurple;
}
#baki1{
    width: 50%;
    background-color: #171c1b;
}
#baki2{
    background-color: #171c1b;
    width: 17%;
}
#baki3{
    width:33%;
    display: grid;
    grid-gap: 5px;
    /*grid-column: span;*/
    background-color: #171c1b;
}
#textAboveAlu{
    height: 35%;
    background-color:  rebeccapurple;
    /*margin-top: .5%;*/
    border-radius: 10px;
    box-shadow: 4px 4px 5px black;

    position: relative;
    /*border-style: solid;*/
    /*border-color: #03091d;*/
    /*margin-bottom: .5%;*/
}
#eren{
    position: absolute;
    top: 50%;left: 50%;
    margin: 0;
    transform: translate(-50%,-50%);
}
#ALUU{
    background-color:  rebeccapurple;
    height: 70%;
    padding-top: -10px;
    margin-top: -25%;
    box-shadow: 4px 4px 5px black;

    border-radius: 10px;
    /*border-style: solid;*/
    /*border-color: #03091d;*/
    /*margin-bottom: .5%;*/
}
#theTwoRegisters{
    background-color:  rebeccapurple;
    height: 100%;
    margin-top: -25%;
    box-shadow: 4px 4px 5px black;
    /*border-color: #03091d;*/
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#registernum1{
    border-style: solid;
    border-color: #03091d;
    margin-right: 10%;
    margin-left: 10%;
    height: 60%;
    width: 30%;
    align-content: center;
    color:  #03091d;

}
#registernum2{
    border-style: solid;
    border-color: #03091d;
    margin-right: 10%;
    margin-left: 10%;
    height: 60%;
    width: 30%;
    align-content: center;
    color:  #03091d;


}

.basicnext{
    display: block;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 4px 4px 15px black;

    width: 40%;
    height: 750px;
    /*border-color: navajowhite;*/

}

.container {
    display: flex;
    /*   border:1px solid red; */
    height: 30%;
    align-items: center;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1s;
}

.text-copy:nth-child(2){
    stroke:  rebeccapurple;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: purple;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: hotpink;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: deepskyblue;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}
.basic2{
    height: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    /*border-style: double;*/
    position: relative;
}
#ara{
    margin:0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height:100%;
    background-color: #171c1b;
    width: 100%;
    font-weight: bolder;
    color: honeydew;
    font-size: x-large;
    font-family:"Courier New";
    border-radius: 30%;
    border-color: #494e48;

    box-shadow: 4px 4px 5px black;
}
#skrt{
    height: 100%;
    width: 100%;
    background-position: 20%;

    position: relative;
}

#EU{
    display: flex;
    direction: ltr;
    height: 40%;
    width: 100%;
    padding-top: 5%;


}
#BIU{
    display: flex;
    direction: ltr;
    height: 60%;
    width: 100%;

}
#ALU{
    height: 100%;
    width: 50%;
}
#QUE{
    height: 100%;
    width: 50%;
}
#Registers{
    margin-top: .5%;
    height: 82%;
    width: 25%;
    background-color: #171c1b;
    padding-right: 10px  ;
    /*overflow-y: scroll;*/
}
/*#Registers::-webkit-scrollbar{*/
/*    width: 0.25rem;*/
/*}*/
/*#Registers::-webkit-scrollbar-track{*/
/*    background-color: #03091d;*/
/*}*/
/*#Registers::-webkit-scrollbar-thumb{*/
/*    background-color:  #e2b714;*/
/*}*/
#Baki_ajeeb{
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    width: 75%;
    display: flex;
    direction: ltr;
    background-color: #171c1b;

}

#pointer{
    text-align:center;
    display: block;
    height: 80%;
    width: 80%;
    margin-left: 15%;
    /*overflow-y: scroll;*/
    background-color: #03091d;
}
#pointer::-webkit-scrollbar{
    width:0.4rem;

}
#pointer::-webkit-scrollbar-thumb{
    background-color:  rebeccapurple;
}
#pointer::-webkit-scrollbar-track{
    background-color: #03091d;
}


.pointers{
    display:inline-block;
    height: 20%;
    width:70%;
    background-color: #253529;
    border-radius: 10%;
    margin-left: 2%;
    margin-bottom: 10%;

}
#socrate{
    font-family: Montserrat;
}
#displayMachineCode{
    /*font-family: 'Rubik Glitch', cursive;*/
    color:  hotpink;
    font-family: Montserrat;
    animation-name: stroke-offset;
}
#displayMachineCode:hover{
    translate: 2px;

}
@keyframes skrtt {
    0%   {fill:red; }
    25%  {fill:yellow;}
    50%  {fill:blue;}
    75%  {fill:green;}
    100% {fill:red; }
}
.loltrapezium{
    animation-name:skrtt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
}
#index1 {
    text-align: center;
    justify-content: center;
    height: 70px;
    font-size: large;
    display: flex;


}
#index div{
    width: 50%;

}
#QUE>.ques{
    margin-top: -5px;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 1%;
    width: 40%;
    height: 38px;
    margin-bottom: 2%;
    background-color: #253529;
    border-radius: 30%;

}

.registers{

    height: 20%;
    text-align: center;
    box-shadow: 4px 4px 5px black;
    border-radius: 20px;
    background-color:  rebeccapurple;
    /*border-width: thick;*/
    /*border-color: mediumvioletred;*/

    margin-left: 5%;
    margin-bottom: 7%;
    position: relative;
}
.tagsma{
    position: absolute;
    top: 50%;left: 50%;
    margin: 0;
    transform: translate(-50%,-50%);
}
.navbar{
    width: 5%;
    height: 100vh;
    padding-right: 3%;
}
body::-webkit-scrollbar{
    width: 0.4rem;
}
body::-webkit-scrollbar-thumb{
    background-color:  rebeccapurple;
}
body::-webkit-scrollbar-track{
    background-color: #03091d;
}
.navbar-nav{
    display: grid;
    width:107%;
    padding-right: 0;
    margin-left: -47px;
    margin-top: 0;
    padding-top: 0;
}
ul{
    width: 100%;
}
ul li{
    background-color: rebeccapurple ;
    padding-left: 10px;
    margin-top: 0;
    padding-top: 0;
    height: 24.2vh;
    margin-left: 10px   ;
    border-color: #171c1b;
    border-radius: 10px;
    border-style: solid;
    /*color: #171c1b;*/
}
#n1{
    background-color:  rebeccapurple;
}
.bakiajjebwalakaam1{
    margin-bottom: 6px;
}

/*.navbar{*/
/*    animation-name:example;*/
/*    animation-duration: 3s;*/
/*    animation-iteration-count: infinite;*/
/*}*/
#processor{
    margin-left: 20px;
    width: 90%;
    box-shadow: 4px 4px 5px black;
    height: 10%;
    text-align: center;
    font-kerning: auto;
    border-radius: 10px;
    background-color:  rebeccapurple;
    position: relative;
    /*font-style: oblique ;*/
}
#malihaarslan{
    position: absolute;
    top: 50%;left: 50%;
    margin: 0;
    transform: translate(-50%,-50%);
}
#controller{
    margin-left: 20px;
    width: 90%;
    box-shadow: 4px 4px 5px black;
    text-overflow-mode: scroll;
    height: 30%;
    color-rendering: optimizeQuality;
    text-align: center;
    background-color:  rebeccapurple;
    border-radius: 10px;
    position: relative;
}
#cont{

    position: absolute;
    top: 50%;left: 50%;
    margin: 0;
    transform: translate(-50%,-50%);

}
#remaining2{
    box-shadow: 4px 4px 5px black;
    width: 90%;
    margin-left: 20px;
    height: 50%;
    display: flex;
    direction: ltr;
    align-items: center;
    border-radius: 10px;
    background-color:  rebeccapurple;

}
.bakiajjebwalakaam11{
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color: #03091d;
    height: 50%;
    width: 40%;
}
@keyframes raised {

    /* YET TO COMPLETE */

}
#ara:hover{
    background-color:  rebeccapurple;
}
#submitButton:hover{

    translate: 5px;
    translate: -5px;
}
.anime{
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.Regs{
    display: flex;
    border-style: ridge;
    border-radius: 10px;
    border-color: rebeccapurple;
    width: 50%;
    align-items: center;
    text-align: center;
}

.firstEightRegs{
    margin-left: 2%;
    margin-right: 2%;
    width: 50%;
    height: 80%;
    align-content: center;
    display: flex;
    direction: ltr;

}
.lastEightRegs{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    height: 80%;
    align-content: center;
    direction: ltr;
    width: 50%;
}
.lastEightRegsNums{
    width: 50%;
    height: 100%;

    display: grid;
}
.lastEightRegisterNums{
    text-align: center;
    text-shadow: 3px 3px 3px black ;

    height: 30px;

}
.lastEightRegsLocs{
    height: 100%;
    display: grid;
    width: 50%;
}
.LastEightRegistersLocs{
    height: 30px;
    border-style: outset;
    border-radius: 10px;
    border-color: #494e48;
    box-shadow: 4px 4px 5px black;

}
.firstEightRegsNums{ width: 50%;
    height: 100%;
    display: grid;
}
.firstEightRegisterNums{
    height: 30px;
    text-shadow: 3px 3px 3px black ;
}
.firstEightRegsLocs{
    width: 50%;
    height: 100%;
    display: grid;

}

.firstEightRegistersLocs{
    height: 30px;
    border-style: outset;
    border-radius: 10px;
    border-color: #494e48;
    box-shadow: 4px 4px 5px black;
}
.machineCode{
    width:60%;
    align-content: center;


}
#displayMachineCode{
    margin-top: 20%;
    width: 100%;
    text-shadow: 3px 3px 3px black ;
    font-size: xxx-large;
    text-align: center;
}
#displayMachineCodes{
    margin-left: 1%;
    padding-left: inherit;
    margin-top: 8%;
    width:90%;
    align-content: center;
    border-color: #494e48;
    box-shadow: 4px 4px 5px black;
    margin-right: 20%;
    background-color: honeydew;
    border-radius: 15px;

}
.overBasic{
    width: 100%;
    background-color:transparent ;
    /*stroke:blue;*/
    z-index: 9;
}
#inputlainawaladabba{
    width: 100%;
    height: 30px;
    font-size: large;
    border-radius: 20px;
    color: #074b4d;
    font-weight: bolder;
    font-family: Montserrat;
    text-shadow: #171c1b;
}
#iinn{
    position: relative;
}
#submitButton{
    color: hotpink;
    background-color: rebeccapurple;
    font-family: 'Montserrat', cursive;
    border-radius: 20px;
    font-size: x-large;
    position: absolute;
    top: 50%;left: 50%;
    margin-top: 20px;
    transform: translate(-50%,-50%);
}
#mm{
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
}
#mcode{
    justify-content: center;
    /*align-items: center;*/
    /*text-align: center;*/
    background-color: white;
    align-self: auto;
    margin-left: 20px;
    border-radius: 20px;
    align-content: center;

    /*overflow-x: hidden;*/
    /*overflow-wrap: anywhere;*/
}

.burb{

}
.div1{
    animation: main 3s;
    transform-origin: 0 0 0;
}
/**/
@keyframes main {
    0% {
        height: 0px;
        /*transform: scale(0);*/
    }
    50% {
        height:6.5%;
        /*transform: scale(10);*/
    }


}

@keyframes mains2 {
    0%{
        width: 0;
    }
    50%{
        width:10.9%;
    }

}
@keyframes mains3 {
    0%{
        height: 0;

    }
    50%{
        height: 4%;
    }

}
@keyframes mains4 {
    0%{
        height: 0;

    }
    50%{
        height: 4.2%;
    }

}
@keyframes mains5 {
    0%{
        height: 0;

    }
    50%{
        height: 4.9%;
    }

}
@keyframes mains7 {
    0%{
        height: 0;

    }
    50%{
        height: 4.9%;
    }

}

@keyframes mains6 {
    0%{
        height: 0;

    }
    50%{
        height: 4%;
    }

}

.div2{
    animation: mains2 3s;
}
.div3{
    position:absolute;
    bottom: 20%;
    transform: rotateX(180deg);
    animation: mains3 3s infinite;
    transform-origin:top ;

}
.div4{
    animation:mains4 3s infinite ;
}
.div5{
    animation: mains5 3s infinite;
}
.div6{
    position:absolute;
    bottom: 20%;
    transform: rotateX(180deg);
    animation: mains6 3s;
    transform-origin:top ;

}
.div7{
    position:absolute;
    bottom: 20%;
    transform: rotateX(180deg);
    animation: mains7 3s infinite;
    transform-origin:top ;

}
@keyframes mains8 {
    0%{
        height: 0;

    }
    50%{
        height: 27%;
    }

}
@keyframes mains9 {
    0%{
        height: 0;

    }
    50%{
        height: 34%;
    }

}
@keyframes mains10 {
    0%{
        height: 0;

    }
    50%{
        height: 27%;
    }

}
@keyframes mains11 {
    0%{
        width: 0;

    }
    50%{
        width: 47%;
    }

}
@keyframes mains12 {
    0%{
        height: 0;

    }
    50%{
        height: 30%;
    }

}
@keyframes mains13 {
    0%{
        height: 0;

    }
    50%{
        height: 30%;
    }

}

.div8{
    position:absolute;
    bottom: 20%;
    transform: rotateX(180deg);
    transform-origin:top ;
    animation: mains8 3s;
}
.div9{
    animation: mains9 3s;
}

#div11{

}
.div10{
    transform:rotateY(180deg);
    position: absolute;
    transform-origin: left;
    animation: mains11 3s;
}
.div11{
    transform:rotateX(180deg);
    position: absolute;
    transform-origin: top;
    animation: mains12 3s ;
}
.div12{
    animation: mains13 3s;

}
@keyframes mains13 {
    0%{
        width: 0;

    }
    50%{
        width: 12%;
    }

}

.div13{
    transform:rotateY(180deg);
    position: absolute;
    transform-origin: left;
    animation: mains13 3s;
}
.div14{
    animation: mains13 3s;
}
